snippet import "import module"
import ${1} from '${2}';
endsnippet

snippet hook "React Hook"
import React from "react";

export default function ${1} ({${2}}) {
	return (<></>)
}
endsnippet

snippet useEffect "Use Effect"
useEffect(() => {
	${1}
}, [${2}])
endsnippet
